{% extends "base.html" %}

{% block content %}

<a href="{% url 'core:cadastro_lista' %}">Voltar</a>
<h1> {{ object }}
    <span class="pull-right">
    <a href="{% url 'core:editar_cadastro' object.pk %}">
        <button type="button" class="btn btn-success">
            <span class="fa fa-pencil"> Editar </span>
        </button>
    </a>
    <a href="{% url 'core:deletar_cadastro' object.pk %}">
        <button type="button" class="btn btn-danger">
            <span class="fa fa-pencil"> Deletar </span>
        </button>
    </a>
    </span>
</h1>
<div class="col-sm-6">
    <table class="table table-user-information">
        <tbody>
        <tr>
            <th class="text-right"> Condição</th>
            <td>
                {% if object.cadastrado %}
                <i class="fa fa-check-circle ok"></i>
                {% else %}
                <i class="fa fa-minus-circle no"></i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="text-right">Id</th>
            <td>{{ object.id }}</td>
        </tr>
        <tr>
            <th class="text-right">Nome</th>
            <td>{{ object.nome }}</td>
        </tr>
        <tr>
            <th class="text-right">Rua</th>
            <td>{{ object.rua }}</td>
        </tr>
        <tr>
            <th class="text-right">Renda</th>
            <td>R${{ object.renda }}</td>
        </tr>
        <tr>
            <th class="text-right">Cidade</th>
            <td>{{ object.cidade }}</td>
        </tr>
        <tr>
            <th class="text-right">Criado em</th>
            <td>{{ object.criado_em }}</td>
        </tr>
        <tr>
            <th class="text-right">Atualizado em</th>
            <td>{{ object.atualizado_em }}</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock content %}
