{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h2>Lista de Famílias
        <span class="pull-right">
          <a href="{% url 'core:cadastro_add' %}">
            <button type="button" class="btn btn-primary">
              <span class="fa fa-plus"></span> Adicionar
            </button>
          </a>
        </span>
      </h2>
    {% if object_list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Condição</th>
            <th>Id</th>
            <th>Nome</th>
            <th>Rua</th>
            <th>Renda</th>
            <th class="text-center">Cidade</th>
            <th class="text-center">Criado em</th>
            <th class="text-center">Atualizado em</th>

        </tr>
        </thead>
        <tbody>
          {% for object in page_obj %}
        <tr>
            <td>
                {% if object.cadastrado %}
                <i class="fa fa-check-circle ok"></i>
                {% else %}
                <i class="fa fa-minus-circle no"></i>
                {% endif %}
            </td>
            <td>
              <a href="{{ object.get_absolute_url }}">{{ object.id }}</a>
            </td>
            <td>{{ object.nome }}</td>
            <td>{{ object.rua }}</a>
            </td>
            <td>R$<span class="pull-right">{{ object.renda }}</span></td>
            <td class="text-center">{{ object.cidade }}</td>
            <td class="text-center">{{ object.criado_em }}</td>
            <td class="text-center">{{ object.atualizado_em }}</td>

        </tr>
        {{ contact.full_name|upper }}<br>
    {% endfor %}

        </tbody>
    </table>
    {% else %}
    <p class="alert alert-warning">
    Sem itens na lista.
    </p>
    {% endif %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primeiro</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Próximo</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
© 2021 GitHub, Inc.