{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h2>Lista de Famílias
        <span class="pull-right">
          <a href="{% url 'core:cadastro_add' %}">
            <button type="button" class="btn btn-primary">
              <span class="fa fa-plus"></span> Adicionar
            </button>
          </a>
        </span>
      </h2>
    {% if object_list %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Condição</th>
            <th>Id</th>
            <th>Nome</th>
            <th>Rua</th>
            <th>Renda</th>
            <th class="text-center">Cidade</th>
            <th class="text-center">Criado em</th>
            <th class="text-center">Atualizado em</th>

        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                {% if object.cadastrado %}
                <i class="fa fa-check-circle ok"></i>
                {% else %}
                <i class="fa fa-minus-circle no"></i>
                {% endif %}
            </td>
            <td>
              <a href="{{ object.get_absolute_url }}">{{ object.id }}</a>
            </td>
            <td>{{ object.nome }}</td>
            <td>{{ object.rua }}</a>
            </td>
            <td>R$<span class="pull-right">{{ object.renda }}</span></td>
            <td class="text-center">{{ object.cidade }}</td>
            <td class="text-center">{{ object.criado_em }}</td>
            <td class="text-center">{{ object.atualizado_em }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="alert alert-warning">
    Sem itens na lista.
    </p>
    {% endif %}
</div>

{% endblock content %}
© 2021 GitHub, Inc.